*, *:before, *:after {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: black; }

.containerheader {
  width: 100%;
  height: 20vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background-color: #000033;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .containerheader img {
    width: cover;
    height: 20vh; }

.contentMain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .contentMain .containerForm {
    width: 60vw;
    height: auto;
    margin: 10vh 10vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    color: #fdddca;
    background-color: #000033;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px; }
    .contentMain .containerForm form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 25rem; }
      .contentMain .containerForm form input {
        padding: 5px;
        margin: 5px;
        width: 50%;
        border: 2px solid #ccc;
        border-radius: 10px;
        transition: 0.5s;
        outline: none; }
        .contentMain .containerForm form input:focus {
          border: 2px solid #555; }
      .contentMain .containerForm form input[type=date] {
        width: auto; }
      .contentMain .containerForm form select {
        width: 100%;
        padding: 5px;
        border: 2px solid #ccc;
        border-radius: 4px;
        margin-top: 5px; }
      .contentMain .containerForm form label {
        display: inline-block; }
  .contentMain .containerToggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: large; }
    .contentMain .containerToggle .toggle-track {
      display: flex;
      align-items: center;
      padding: 0 3px;
      width: 56px;
      height: 30px;
      border-radius: 15px;
      background-color: #000033;
      cursor: pointer;
      transition: 120mx ease-out; }
    .contentMain .containerToggle .toggle-track__indicator {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      background-color: #ffffff;
      transition: 120ms ease-out;
      margin-top: -1px; }
    .contentMain .containerToggle #toggle:checked + .toggle-track {
      background-color: #fdddca; }
    .contentMain .containerToggle #toggle:checked + .toggle-track .toggle-track__indicator {
      transform: translateX(24px); }
    .contentMain .containerToggle #toggle {
      display: none; }
  .contentMain .container-Value-NDC {
    text-align: center;
    width: 60vw;
    height: 80vh;
    margin: 10vh 10vw;
    padding: 25px;
    color: #fdddca;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    background-color: #000033;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 20px; }
    .contentMain .container-Value-NDC .content-nd {
      width: 25rem; }
      .contentMain .container-Value-NDC .content-nd #ND {
        display: none; }

@media screen and (max-width: 1130px) {
  .contentMain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; } }

@media screen and (max-width: 1130px) and (max-width: 680px) {
  .contentMain .containerForm {
    margin: 10vh 1px;
    min-width: 20rem; }
  .contentMain .container-Value-NDC {
    margin: 5vh 1px;
    min-width: 20rem;
    font-size: 1rem; } }
